.container {
    background-color: #20232a;
    color: #fff;
    /* min-height: 50px; */
    padding: 8px 0;
    width: 100%;
    transform: translateZ(0);
}

.container header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    text-align: left;
    margin-left: 1.20%;
    user-select: none;
}

.container header div {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    text-align: left;
    user-select: none;
}

.container header img {
    border-style: none;
    box-sizing: content-box;
    max-width: 100%;
    height: 100%;
    margin-right: 10px;
}

.container header h1 {
    display: block;
    font-size: 1.25rem;
    margin: 0;
    position: relative;
}

.container header p {
    display: block;
    font-size: 1rem;
    margin: 0;
    margin-left: 1rem;
    position: relative;
    /* Vertically align with the title */
    padding-top: 0.2em;
}

.container a {
    -webkit-box-align: center;
    align-items: center;
    border: 0;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    height: 34px;
    text-decoration: none;
}

.container button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: 6px;
    height: 28px;
    margin-right: 1.20%;
    font-weight: 600;
    min-width: 28px;
    font-size: 15px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border: 0;
}
