body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.CodeMirror {
  height: 100% !important;
  width: 100% !important;
  -webkit-overflow-scrolling: touch;
}

.CodeMirror-lines pre.CodeMirror-placeholder {
  color: #aaa;
}
